<table class="table table-striped table-sm">
  <tr>
  <th>customerNumber</th>
	<th>customerName</th>
  <th>contactLastName</th>
  <th>contactFirstName</th>
  <th>phone</th>
  <th>addressLine1</th>
  <th>addressLine2</th>
  <th>city</th>
  <th>state</th>
  <th>postalCode</th>
  <th>country</th>
  <th>salesRepEmployeeNumber</th>
  <th>creditLimit</th>
  </tr>

  <tr *ngFor="let f of CustomersList"> 
    <th>{{f.customerNumber}}</th>
    <th>{{f.customerName}}</th>
    <th>{{f.contactLastName}}</th>
    <th>{{f.contactFirstName}}</th>
    <th>{{f.phone}}</th>
    <th>{{f.addressLine1}}</th>
    <th>{{f.addressLine2}}</th>
    <th>{{f.city}}</th>
    <th>{{f.state}}</th>
    <th>{{f.postalCode}}</th>
    <th>{{f.country}}</th>
    <th>{{f.salesRepEmployeeNumber}}</th>
    <th>{{f.creditLimit}}</th>
    <!--<th><button (click)="getFilmById(f.filmId)">Edit</button></th>
    <th><button [routerLink]="['/edit/',f.filmId]">edit</button></th>
    <th><button (click)="delFilm(f.filmId)">Delete</button></th>-->
  </tr>
  
</table>
