<table class="table table-striped table-sm">
  <tr>
  <th>productCode</th>
	<th>productName</th>
  <th>productLine</th>
  <th>productScale</th>
  <th>productVendor</th>
  <th>productDescription</th>
  <th>quantityInStock</th>
  <th>buyPrice</th>
  <th>MSRP</th>
  </tr>

  <tr *ngFor="let f of ProductsList"> 
    <th>{{f.productCode}}</th>
    <th>{{f.productName}}</th>
    <th>{{f.productLine}}</th>
    <th>{{f.productScale}}</th>
    <th>{{f.productVendor}}</th>
    <th>{{f.productDescription}}</th>
    <th>{{f.quantityInStock}}</th>
    <th>{{f.buyPrice}}</th>
    <th>{{f.MSRP}}</th>
  </tr>
</table>
